.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 200px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
}
.input{
  padding: 10px;
}
.button{
  padding: 10px;
}
.message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}